---
extends: default

rules:
  line-length: disable
  truthy: disable
  comments: disable
  comments-indentation: disable
  document-start: disable
  empty-lines:
    max: 2
  trailing-spaces: enable
  indentation:
    spaces: 2
    indent-sequences: consistent

ignore: |
  .github/
  .git/